version: 2.1

executors:
  node-js-executor:
    working_directory: ~/front-plate
    docker:
      - image: circleci/node:12.9.1

jobs:
  testing:
    executor: node-js-executor
    steps:
      - checkout

      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}

      - run:
          name: install dependencies
          command: |
            yarn
            yarn add codecov

      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules

      - run:
          name: test
          command: yarn test --coverage

      - run:
          name: upload coverage data to codecov
          command: yarn codecov

workflows:
  version: 2
  front-plate-workflow:
    jobs:
      - testing
