.LoginComponent {
  background-image: url(../../assets/img-gopan.png),
    linear-gradient(to right, #fffffa, #ffffff 11%, #ffffff 94%, #fffffa);
}

.logoImg_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.logoImg_wrap.bottom {
  position: fixed;
  bottom: 0;
  margin: 0;
}

.logoImg_wrap.bottom img {
  width: 50%;
}

.logoImg {
  width: 56%;
}

.stone {
  /* width: 56%;
  position: fixed;
  z-index: 1; */
  /* bottom: 0; */
}

.Facebook_wrap {
  width: 100%;
  height: 7.8%;
  display: flex;
  justify-content: center;
}

.my-facebook-button-class {
  width: 576px;
  height: 80px;
  object-fit: contain;
  border-radius: 40px;
  box-shadow: 5px 5px 3px 0 #4267b2;
  background-image: url('../../assets/ic-facebook.png'),
    radial-gradient(circle at 95% 27%, #ffffff, rgba(246, 246, 246, 0.56), rgba(255, 255, 255, 0)),
    linear-gradient(to bottom, #4267b2, #4267b2);
  background-repeat: no-repeat;
}

.zOpt {
  position: relative;
  z-index: 2;
}
