html,
body,
#root {
    width: 100%;
    height: 100%;
}

.App {
    text-align: center;
    background-image: url("../assets/bg.png");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 3;
}

.logout-btn_wrap {
    display: flex;
    justify-content: center;
}

.logout-btn {
    width: 273px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(.27548vw + 12.71074px);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s, border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: calc(.34435vw + 13.38843px) calc(.34435vw + 18.38843px);
}

.firstInfo,
.secondInfo {
    display: flex;
    justify-content: center;
}

.stoneInfo {
    width: 863px;
    height: 504px;
    border-radius: 22px;
    box-shadow: 2px 2px 1px 0 #ff3236, inset -3px -3px 1px 0 #59f7f6;
    border: solid 2px rgba(0, 0, 0, 0.48);
    background-image: linear-gradient(to right, #fffffa, #ffffff 11%, #ffffff 94%, #fffffa);
}

.myInfo {
    width: 320px;
    height: 504px;
    border-radius: 22px;
    box-shadow: 2px 2px 1px 0 #ff3236, inset -3px -3px 1px 0 #59f7f6;
    border: solid 2px rgba(0, 0, 0, 0.48);
    background-image: linear-gradient(to right, #fffffa, #ffffff 11%, #ffffff 94%, #fffffa);
}

.rank {
    width: 864px;
    height: 232px;
    border-radius: 8px;
    box-shadow: 2px 2px 1px 0 #ff3236, inset -3px -3px 1px 0 #59f7f6;
    border: solid 2px rgba(0, 0, 0, 0.48);
    background-image: linear-gradient(to right, #fffffa, #ffffff 11%, #ffffff 94%, #fffffa);
}

.info {
    margin: 15px;
}

.rank,
.stoneInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 29px;
    box-shadow: 2px 2px 1px 0 #ff3236, inset -3px -3px 1px 0 #59f7f6;
    border: solid 2px rgba(0, 0, 0, 0.45);
    background-image: linear-gradient(to right, #fffffa, #ffffff 11%, #ffffff 94%, #fffffa);
}

.start_wrap,
.GameStart-btn {
    width: 320px;
    height: 232px;
    border-radius: 8px;
    box-shadow: 2px 2px 1px 0 #ff3236, inset -3px -4px 1px 0 #59f7f6;
    border: solid 2px rgba(148, 148, 148, 0.4);
    background-color: gray;
}

.GameStart-btn>p {
    text-shadow: -1px 2px 0 rgba(255, 0, 0, 0.5), 0 -3px 0 rgba(72, 253, 252, 0.5);
    font-family: PressStart2P;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f2f2f2;
}

.thumb_wrap {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    bottom: 0;
}

.myInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-img>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 16px 12px 18px 0 #5e636a;
    background-image: radial-gradient(circle at 66% 42%, #ffffff, rgba(246, 246, 246, 0.56) 38%, rgba(255, 255, 255, 0));
}